/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: assistant;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
    max-width: 1170px;
    margin: 100px auto;
    display: flex;
	line-height: 1rem;
}

form>div ,.bottom, .fill{
    display: block;
}
.left-container, .right-container{

	margin-left: 97.5px;
	padding: 0 15px;
}

form button{	
	width: 360px;
	height: 40px;
	padding: 8px 14px;
}
.right-container img{
	margin-top: 22px;
	max-width: 100%;
}
.fill{
	font-size: 16px;
	font-family: assistant;
	box-sizing: border-box;
	width: 360px;
	height: 36px;
	padding: 6px 12px;
	margin-bottom: 15px;
}
h3{	
	display: block;
	font-size: 32px;
	margin: 22px 0 11px;
	text-align: center;
}
.label-fill{
	display: inline-block;
	margin-bottom: 5px;
}
p{
	text-align: center;
}
input[type="checkbox"] {
	margin: 1px 2px 0 0;
}
.tick{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	align-items: center;
}
button p{
	font-family: assistant;
	display: inline-block;
	font-size: 16px;
}
form>p{
	margin: 11px 0;
}
.fa-arrow-right{
	width: 26px;
	height: 26px;
	color: white;
}
button{
	border: 0.5px solid;
}
button:first-of-type{
	background-color: #fdae26;
    border-color: #fda50d;
	color: white;
}
button:last-of-type{
	background-color: white;
	margin-bottom: 11px;
}
form a{
	color: blue;
	text-decoration: none;
	display: inline-block;
}
form.login-form {
    max-width: 360px;
}
.right-container{
	width: 33%;
}
.fa-github{
	font-size: 1.3rem;
	float: left;
}
input:focus {
	outline: none;
  	border: 0.5px solid #fda50d ;
}

header .container {
    max-width: 1170px;
    margin: 0 auto;
}

header #logo {
    width: 190px;
    height: 70px;
    margin-left: 15px;
    display: inline-block;
    background: url(https://flatlogic.com/assets/logo-b6ca6492a82bd9eddf58c40710235855b1c502097c23faae6306cd36973aaea8.svg) no-repeat center;
    text-indent: -9999px;
    background-position: left;
}

header nav#main_menu {
    float: right;
}

#main_menu>ul>li:first-child {
    margin-left: 0;
}

#main_menu > ul>li{
	display: inline-block;
	margin-left: 30px;

}
#main_menu li a {
    font-weight: 400;
    color: #777;
    text-decoration: none;
    line-height: 70px;
    font-size: 14px;
}

#main_menu li a:hover {
    font-weight: bold;
}
.dropdown_menu_first li a>img {
	height: 20px;
	width: 20px;
	margin-right: 5px;


}

nav.dropdown_menu_custom {
    display: none;
    position: absolute;
    background-color: #fff;
}
.sub-menu-1{
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 0;
    list-style: none;
    
}
div#item\ item2 {
    grid-row: 2/3;
}

div#item\ item4 {
    grid-row: 2/3;
}

.sub-menu-2{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 430px;
    height: 278px;
    
}
.sub-menu-2 li,.sub-menu-3 li,.sub-menu-4 li{
    width: 215px;
    height: 36px;
    margin-top: 0;

}
#main_menu>ul>li:first-child:hover nav.dropdown_menu_custom.dropdown_menu_first{
    display: block;
}
#main_menu>ul>li:nth-child(2):hover nav.dropdown_menu_custom.dropdown_menu_second{
    display: block;
}
#main_menu>ul>li:nth-child(3):hover nav.dropdown_menu_custom.dropdown_menu_third{
    display: block;
}


#main_menu>ul>li:nth-child(4):hover nav.dropdown_menu_custom.dropdown_menu_fourth{
    display: block;
}


.banner .container > div{
    display: flex;
}
.banner-left h1 {
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -1px;
    word-spacing: 4px;
    margin-top: 22px;
    margin-bottom: 15px;
    font-size: 64px;
    text-align: left;
}
.label{
    color: #fdae26;
}
.wrap-content> div{
    height: 472px;
    width: 585px;
    margin-top: 40px;
}
.wrap-content>div>div, .ex-template h3,.ex-template>div>div{
    margin: 0 15px;
}
.banner-left p{
    display: block;
    margin-block-end: 1em;
    font-size: 18px;
    line-height: 25.2px;
}
span.label.label.warning {
    position: absolute;
    font-size: 5;
    padding-left: -0.5em;
    padding-left: .5em;
    font-size: 0.7em;
}
.banner-left a{
    text-decoration: none;
    color: cornflowerblue;
}
.banner-left div a{
    color: black;
}
.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 
    
}

